
<!-- Post Header -->
<header class="intro-header" style="background-image: url('$baseUrl$/static/img/$headerImg$')" alt="" title="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		            <div class="post-heading">
                    <h1>$title$</h1>
		            </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

              $body$

              <br>

              <h2>All Posts</h2>
 
              $partial("templates/post-list-new.html")$
              
              <hr>

            </div>
        </div>
    </div>
</article>
<hr>
