
<!-- Post Header -->
<header class="intro-header" style="background-image: url('/static/img/logo.png')" alt="" title="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<div class="post-heading">
                    $if(title)$
                      <p>  </p>
                    $endif$
		</div>
            </div>
        </div>
    </div>
</header>

<!-- Splash Page -->


<!-- Post Content -->
<article>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      $body$

      LiquidHaskell (LH) <i>refines</i> Haskell's types
      with logical predicates that let you enforce critical
      properties at <i>compile time</i>. (Hover on images to animate.)

    <br>
    <h2>Guarantee Functions are Total</h2>
    <br>

    <div class="row">
      <div class="col-md-4">
        LH warns you that <code>head</code> is not total as it
        is missing the case for <code>[]</code> and checks that
        it is total on <code>NonEmpty</code> lists.
        <a href="./2013/01/31/safely-catching-a-list-by-its-tail.lhs/">(more...)</a>
      </div>

      <div class="col-md-8">
        <img id="splash-head" class="center-block" src="/static/img/splash-head.png">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-8">
        <img id="splash-unstutter" class="center-block" src="/static/img/splash-unstutter.png">
      </div>
      <div class="col-md-4">
        The input contract propagates to uses of <code>head</code>
        which are verified by ensuring the arguments are
        <code>NonEmpty</code>.
      </div>
    </div>

    <br>
    <h2>Keep Pointers Within Bounds</h2>
    <br>

    <br>

    <div class="row">
      <div class="col-md-4">
        LH lets you avoid off-by-one errors that can lead to crashes
        or buffer overflows. <a href="./2013/03/04/bounding-vectors.lhs/">(more...)</a>
      </div>

      <div class="col-md-8">
        <img id="splash-vectorsum" class="center-block" src="/static/img/splash-vectorsum.png">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-9">
        <img id="splash-dotproduct" class="center-block" src="/static/img/splash-dotproduct.png">
      </div>

      <div class="col-md-3">
        Dependent contracts let you specify, e.g. that
        <code>dotProduct</code> requires equal-sized vectors.
      </div>
    </div>

    <!--
      <div class="row">
        <div class="col-md-4">
          This is some text that explains how <code>unsafeTake</code> works.
        </div>

        <div class="col-md-8">
          <img class="center-block" src="/static/img/splash-unsafeTake.gif">
        </div>
      </div>
    -->

    <br>
      <h2>Avoid Infinite Loops</h2>
    <br>

    <div class="row">
      <div class="col-md-5">
        LH checks that functions <i>terminate</i> and so
        warns about the infinite recursion due to the missing
        case in <code>fib</code>. <a href="./tags/termination.html">(more...)</a>
      </div>

      <div class="col-md-7">
        <img id="splash-fib" class="center-block" src="/static/img/splash-fib.png">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-9">
        <img id="splash-merge" class="center-block" src="/static/img/splash-merge.png">
      </div>
      <div class="col-md-3">
        <i>Metrics</i> let you check that recursive functions
        over complex data types terminate.
      </div>
    </div>

    <br>
      <h2>Enforce Correctness Properties</h2>
    <br>

    <div class="row">
      <div class="col-md-5">
        Write correctness requirements, for example a list is <i>ordered</i>,
        as refinements. LH makes illegal values be <i>unrepresentable</i>.
        <a href="./2013/07/29/putting-things-in-order.lhs/">(more...)</a>
      </div>

      <div class="col-md-7">
        <img id="splash-ups" class="center-block" src="/static/img/splash-ups.png">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-9">
        <img id="splash-insertsort" class="center-block" src="/static/img/splash-insertsort.png">
      </div>

      <div class="col-md-3">
        LH automatically points out logic bugs, and proves
        that functions return correct outputs
        <i>for all inputs</i>.
      </div>
    </div>

    <br>
      <h2>Prove Laws by Writing Code</h2>
    <br>

    <div class="row">
      <div class="col-md-3">
        Specify <i>laws</i>, e.g. that the append
        function <code>++</code> is associative,
        as Haskell functions.
      </div>

      <div class="col-md-9">
        <img id="splash-assocthm" class="center-block" src="/static/img/splash-assocthm.png">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-9">
        <img id="splash-assocpf" class="center-block" src="/static/img/splash-assocpf.png">
      </div>

      <div class="col-md-3">
        Verify laws via <i>equational proofs</i> that are plain Haskell
        functions. Induction is simply recursion, and case-splitting is
        just pattern-matching. <a href="./tags/reflection.html">(more...)</a>
      </div>
    </div>

    </div>
  </div>
</div>
</article>
<hr>
