
<!-- Post Header -->
<header class="intro-header" style="background-image: url('/static/img/logo.png')" alt="" title="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<div class="post-heading">
                    $if(title)$
                      <p>  </p>
                    $endif$
		</div>
            </div>
        </div>
    </div>
</header>

<!-- Splash Page -->


<!-- Post Content -->
<article>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      $body$

    <br>
    <h2>Guarantee Functions are Total</h2>
    <br>

    <div class="row">
      <div class="col-md-4">
        This is some text that explains how <code>head</code> works.
      </div>

      <div class="col-md-8">
        <img class="center-block" src="/static/img/splash-head.gif">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-8">
        <img class="center-block" src="/static/img/splash-unstutter.gif">
      </div>

      <div class="col-md-4">
        Here is some text that shows how the signature for <code>head</code>
        is used to check a <i>client</i> function <code>unstutter</code>.
      </div>
    </div>

    <br>
    <h2>Keep Indexes and Pointers Within Bounds</h2>
    <br>

    <br>

    <div class="row">
      <div class="col-md-4">
        This is some text that explains how <code>vectorSum</code> works.
      </div>

      <div class="col-md-8">
        <img class="center-block" src="/static/img/splash-vectorsum.gif">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-9">
        <img class="center-block" src="/static/img/splash-dotProduct.gif">
      </div>

      <div class="col-md-3">
        This is some text that explains how <code>dotProduct</code> works.
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4">
        This is some text that explains how <code>unsafeTake</code> works.
      </div>

      <div class="col-md-8">
        <img class="center-block" src="/static/img/splash-unsafeTake.gif">
      </div>
    </div>

    <br>
      <h2>Ensure Termination to Avoid Infinite Loops</h2>
    <br>

    <div class="row">
      <div class="col-md-4">
        This is some text that explains how <code>fib</code> works.
      </div>

      <div class="col-md-8">
        <img class="center-block" src="/static/img/splash-fib.gif">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4">
        This is some text that explains how <code>merge</code> works.
      </div>

      <div class="col-md-8">
        <img class="center-block" src="/static/img/splash-merge.gif">
      </div>
    </div>

    <br>
      <h2>Enforce User-Defined Correctness Properties</h2>
    <br>

    <div class="row">
      <div class="col-md-4">
        This is some text that explains how <code>ups</code> works.
      </div>

      <div class="col-md-8">
        <img class="center-block" src="/static/img/splash-ups.gif">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4">
        This is some text that explains how <code>insertSort</code> works.
      </div>

      <div class="col-md-8">
        <img class="center-block" src="/static/img/splash-insertsort.gif">
      </div>
    </div>

    <br>
      <h2>Prove Laws by Writing Code</h2>
    <br>

    <div class="row">
      <div class="col-md-4">
        This is some text that explains how <code>append</code> works.
      </div>

      <div class="col-md-8">
        <img class="center-block" src="/static/img/splash-append.gif">
      </div>
    </div>

    </div>
  </div>
</div>
</article>
<hr>
